{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block content%}
<div style="padding-bottom:200px;" class="container">
    <div class="mt-5 border p-5">
        <form  method="post" >
    {% csrf_token %}
    <label><strong>Title</strong></label><br>
    <input required class="form-control" type="text" name="title" id="title" value="{{edit.title}}">
    <label><strong>Slug</strong></label><br>
    <input required class="form-control" type="text" name="slug" id="slug" value="{{edit.slug}}">
    <label><strong>Writen by</strong></label>
  <input required class="form-control" type="text" name="writer" id="writer" value="{{edit.writer}}">
    <label><strong>Introduction</strong></label>
            <textarea rows="12" required class="form-control" name="intro" id="intro">{{edit.intro}}</textarea>
    <label><strong>Body</strong></label>
   <textarea required class="form-control" rows="12" name="body" id="body">{{edit.body}}</textarea>
    <input type="submit" class="btn btn-success w-100 text-center mt-3" value="submit">
</form>
    </div>
</div>

{%endblock%}
</body>
</html>